/* square id */
/* columns / left value */
/* rows / top value */
/* tile size */
#board div:nth-child(1) {
  left: 0px;
  top: 0px;
  /* reverse values for backgroud position */
  background-position: left -55px top 0px;
}

#board div:nth-child(2) {
  left: 80px;
  top: 0px;
  /* reverse values for backgroud position */
  background-position: left -135px top 0px;
}

#board div:nth-child(3) {
  left: 160px;
  top: 0px;
  /* reverse values for backgroud position */
  background-position: left -215px top 0px;
}

#board div:nth-child(4) {
  left: 240px;
  top: 0px;
  /* reverse values for backgroud position */
  background-position: left -295px top 0px;
}

#board div:nth-child(5) {
  left: 0px;
  top: 80px;
  /* reverse values for backgroud position */
  background-position: left -55px top -80px;
}

#board div:nth-child(6) {
  left: 80px;
  top: 80px;
  /* reverse values for backgroud position */
  background-position: left -135px top -80px;
}

#board div:nth-child(7) {
  left: 160px;
  top: 80px;
  /* reverse values for backgroud position */
  background-position: left -215px top -80px;
}

#board div:nth-child(8) {
  left: 240px;
  top: 80px;
  /* reverse values for backgroud position */
  background-position: left -295px top -80px;
}

#board div:nth-child(9) {
  left: 0px;
  top: 160px;
  /* reverse values for backgroud position */
  background-position: left -55px top -160px;
}

#board div:nth-child(10) {
  left: 80px;
  top: 160px;
  /* reverse values for backgroud position */
  background-position: left -135px top -160px;
}

#board div:nth-child(11) {
  left: 160px;
  top: 160px;
  /* reverse values for backgroud position */
  background-position: left -215px top -160px;
}

#board div:nth-child(12) {
  left: 240px;
  top: 160px;
  /* reverse values for backgroud position */
  background-position: left -295px top -160px;
}

#board div:nth-child(13) {
  left: 0px;
  top: 240px;
  /* reverse values for backgroud position */
  background-position: left -55px top -240px;
}

#board div:nth-child(14) {
  left: 80px;
  top: 240px;
  /* reverse values for backgroud position */
  background-position: left -135px top -240px;
}

#board div:nth-child(15) {
  left: 160px;
  top: 240px;
  /* reverse values for backgroud position */
  background-position: left -215px top -240px;
}

#board div:nth-child(16) {
  left: 240px;
  top: 240px;
  /* reverse values for backgroud position */
  background-position: left -295px top -240px;
}

#board div:nth-child(17) {
  left: 0px;
  top: 320px;
  /* reverse values for backgroud position */
  background-position: left -55px top -320px;
}

#board div:nth-child(18) {
  left: 80px;
  top: 320px;
  /* reverse values for backgroud position */
  background-position: left -135px top -320px;
}

#board div:nth-child(19) {
  left: 160px;
  top: 320px;
  /* reverse values for backgroud position */
  background-position: left -215px top -320px;
}

#board div:nth-child(20) {
  left: 240px;
  top: 320px;
  /* reverse values for backgroud position */
  background-position: left -295px top -320px;
}

#board div:nth-child(21) {
  left: 0px;
  top: 400px;
  /* reverse values for backgroud position */
  background-position: left -55px top -400px;
}

#board div:nth-child(22) {
  left: 80px;
  top: 400px;
  /* reverse values for backgroud position */
  background-position: left -135px top -400px;
}

#board div:nth-child(23) {
  left: 160px;
  top: 400px;
  /* reverse values for backgroud position */
  background-position: left -215px top -400px;
}

#board div:nth-child(24) {
  left: 240px;
  top: 400px;
  /* reverse values for backgroud position */
  background-position: left -295px top -400px;
}

#board div:nth-child(25) {
  left: 0px;
  top: 480px;
  /* reverse values for backgroud position */
  background-position: left -55px top -480px;
}

#board div:nth-child(26) {
  left: 80px;
  top: 480px;
  /* reverse values for backgroud position */
  background-position: left -135px top -480px;
}

#board div:nth-child(27) {
  left: 160px;
  top: 480px;
  /* reverse values for backgroud position */
  background-position: left -215px top -480px;
}

#board div:nth-child(28) {
  left: 240px;
  top: 480px;
  /* reverse values for backgroud position */
  background-position: left -295px top -480px;
}

body {
  background: #ccc;
  font-family: sans-serif;
}

.wrapper {
  background: white;
  width: 320px;
  padding: 50px;
  margin: 50px auto;
}

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header h1 {
  font-size: 1.5rem;
}
header button {
  padding: 10px;
}

#board {
  background: #fff;
  width: 320px;
  height: 320px;
  position: relative;
  margin: 0 auto;
}
#board div {
  width: 80px;
  height: 80px;
  background: white;
  position: absolute;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  background-image: url(https://farm9.staticflickr.com/8143/7491078032_283a13705c_z_d.jpg);
  background-repeat: no-repeat;
  background-size: 600%;
  background-blend-mode: multiply;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  /*transition: all ease 2s;*/
  box-sizing: border-box;
}
#board div:hover {
  background-color: pink;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.hide {
  display: none;
}

.success {
  -webkit-filter: grayscale(0) !important;
          filter: grayscale(0) !important;
  -webkit-animation: greenFade 1s;
          animation: greenFade 1s;
  background-color: white;
}

@-webkit-keyframes greenFade {
  0% {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    background-color: green;
  }
  100% {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    background-color: white;
  }
}

@keyframes greenFade {
  0% {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    background-color: green;
  }
  100% {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    background-color: white;
  }
}
